.container {
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 4fr 4fr;
  grid-template-areas:
    "nav nav sidebar-right"
    "sidebar-left content sidebar-right"
    "sidebar-left content sidebar-right";
}

#content {
  grid-area: content;
  padding: 0 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 5px solid;
  border-right: 5px solid;
}

.profile {
  /* height: 50vh; */
  width: 20vw;
}

.profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* ----------- Contact Form ------------ */
form {
  width: 100%;
}
form .form-group {
  margin: 30px 0;
}

form input {
  font-size: 15px;
  font-family: "Flamenco", cursive;

  padding: 15px 5px;
  width: 100%;
  border: none;
  border-bottom: 3px solid #091921;
  display: block;
  transition: all 0.3s;
}

form input:focus,
textarea:focus {
  outline: none;
  border-bottom: solid 3px #cac71fa2;
}
form textarea:focus {
  border-right: solid 3px #cac71fa2;
}
form textarea {
  font-size: 15px;
  font-family: "Flamenco", cursive;

  padding: 15px 5px;
  width: 100%;
  height: 100px;
  border: none;
  color: inherit;
  border-right: 3px solid #091921;
  border-bottom: 3px solid #091921;
  display: block;
  transition: all 0.3s;
}

form label {
  font-family: "Flamenco", cursive;

  font-size: 15px;
  font-weight: 700;
  display: block;
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
}

form input::-webkit-input-placeholder,
form textarea::-webkit-input-placeholder {
  color: black;
}

/* Makes placeholder invisible when focus */
form input:focus::-webkit-input-placeholder,
form textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

form input:focus + label,
form textarea:focus + label {
  opacity: 1;
  visibility: visible;
  transform: translateY(5px);
}
/* ------X----- Contact Form ------X------ */

/* Sidebar-right is in Nav.css */
@media (max-width: 1000px) {
  /* When screen is smaller then 1000 */
  .container {
    grid-template-areas:
      "nav nav nav"
      "sidebar-left content content"
      "sidebar-left content content";
  }
}
